body {
	background-color: #28262C;
}

h1 {
	color: #FBFBFB;
	text-align: center;
	font-family: 'Oswald', san-serif;
}

p, li {
	text-align: center;
	color: #FBFBFB;
	font-family: 'Oswald', serif;
	font-size: 18px;
}

img{
	border: 5px solid #C1BCAC;
	border-radius: 10%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

a{
	text-align: center;
}